html {
	font-family: Ubuntu, sans-serif;}
table {
	border-collapse: collapse;
	box-shadow: 7px 7px 10px #628ca6;}
table, th, td {
	border: 1.5px solid #c8c8c8;
	text-align: center;
	padding: 8px;}
tr:nth-child(even) {
	background-color: #e7f0ed;}
tbody tr:first-child {
	font-size: 1.3em;
	font-weight: bold;
	background-color: #628ca6;
	color: white;}
thead {
	font-weight: bold;
	font-size: 1.7em;
	background-color: #7fb9c2;
	color: black;}
tbody {
	background-color: #e7ffed;
	font-size: .8em;}
tfoot {
	font-size: .6em;
	background-color: #7fb9c2;}
.highlight {
	font-weight: bold;
	background-color: #628ca6;
	color: white;}